# Bases de Datos No Relacionales

## Proyecto Final - López & Ríos

In [30]:

#Comenzamos por importar las bibliotecas necesarias 

import os
import pandas as pd
import time

#permite conectarse a la BD 
#Fuente: https://py2neo.org/2021.1/
import py2neo
from py2neo import Graph,Node,Relationship

#permite representar gráficamente los grafos obtenidos 
#Fuente: https://github.com/merqurio/neo4jupyter
import neo4jupyter
neo4jupyter.init_notebook_mode()


print ('py2neo version', py2neo.__version__)

py2neo version 2021.2.3

In [31]:
#estos son los parámetros para la conexión a una instancia de Neo4j que se ejecuta localmente 
#y en el puerto por defecto
#si van a utilizar otra opción deben ajustar los parámetros


#indica la url de la BD
#dburl='http://localhost:7474'
dburl='bolt://127.0.0.1:7687'
user='neo4j'
pasw='admin12345'

graph = Graph(dburl, auth=(user, pasw))

In [35]:
#match station_measurement:where
query_station_measurement_where="""MATCH (s:Station)-->(m:Measurement) WHERE m.hour = time("2:00") AND m.date = date("2019-01-01") RETURN s, m"""

#evaluamos las consultas
elapsed_time = 0
for i in range(5):
    st = time.time()
    result_query_station_measurement_where=graph.run(query_station_measurement_where).to_data_frame()
    et = time.time()
    # get the execution time
    elapsed_time += et - st
    
print('Execution time:', elapsed_time, 'seconds')

#imprimo resultados
result_query_station_measurement_where

Execution time: 106.7138307094574 seconds

,s,m
0,"{'latitude': -18.96666666, 'name': 'GO/A011/SA...","{'station_name': 'GO/A011/SAO SIMAO', 'date': ..."
1,"{'latitude': -10.16583333, 'name': 'MT/A911/SA...","{'station_name': 'MT/A911/SAPEZAL', 'date': 20..."
2,"{'latitude': -16.96666666, 'name': 'GO/A023/CA...","{'station_name': 'GO/A023/CAIAPONIA', 'date': ..."
3,"{'latitude': -16.45, 'name': 'MT/A907/RONDONOP...","{'station_name': 'MT/A907/RONDONOPOLIS', 'date..."
4,"{'latitude': -20.47555554, 'name': 'MS/A719/AQ...","{'station_name': 'MS/A719/AQUIDAUANA', 'date':..."
...,...,...
107,"{'latitude': -15.59638888, 'name': 'DF/A045/AG...","{'station_name': 'DF/A045/AGUAS EMENDADAS', 'd..."
108,"{'latitude': -15.062696, 'name': 'MT/A922/VILA...","{'date': 2019-01-01, 'station_name': 'MT/A922/..."
109,"{'latitude': -16.42305554, 'name': 'GO/A028/IP...","{'station_name': 'GO/A028/IPORA', 'date': 2019..."
110,"{'latitude': -13.41111111, 'name': 'MT/A929/NO...","{'station_name': 'MT/A929/NOVA UBIRATA', 'date..."
111,"{'latitude': -19.122471, 'name': 'MS/A742/CASS...","{'station_name': 'MS/A742/CASSILANDIA', 'date'..."

In [32]:
#match station_measurement_edge
query_station_measurement_edge="""MATCH (s:Station)-[:MEASURED{hour: time("2:00"), date:date("2019-01-01")}]->(m:Measurement) RETURN m,s"""

#evaluamos las consultas
elapsed_time = 0
for i in range(5):
    st = time.time()
    result_query_station_measurement_edge=graph.run(query_station_measurement_edge).to_data_frame()
    et = time.time()
    # get the execution time
    elapsed_time += et - st
    
print('Execution time:', elapsed_time/5, 'seconds')

#imprimo resultados
result_query_station_measurement_edge

Execution time: 14.634455966949464 seconds

,m,s
0,"{'station_name': 'GO/A011/SAO SIMAO', 'date': ...","{'latitude': -18.96666666, 'name': 'GO/A011/SA..."
1,"{'station_name': 'MT/A911/SAPEZAL', 'date': 20...","{'latitude': -10.16583333, 'name': 'MT/A911/SA..."
2,"{'station_name': 'GO/A023/CAIAPONIA', 'date': ...","{'latitude': -16.96666666, 'name': 'GO/A023/CA..."
3,"{'station_name': 'MT/A907/RONDONOPOLIS', 'date...","{'latitude': -16.45, 'name': 'MT/A907/RONDONOP..."
4,"{'station_name': 'MS/A719/AQUIDAUANA', 'date':...","{'latitude': -20.47555554, 'name': 'MS/A719/AQ..."
...,...,...
107,"{'station_name': 'DF/A045/AGUAS EMENDADAS', 'd...","{'latitude': -15.59638888, 'name': 'DF/A045/AG..."
108,"{'date': 2019-01-01, 'station_name': 'MT/A922/...","{'latitude': -15.062696, 'name': 'MT/A922/VILA..."
109,"{'station_name': 'GO/A028/IPORA', 'date': 2019...","{'latitude': -16.42305554, 'name': 'GO/A028/IP..."
110,"{'station_name': 'MT/A929/NOVA UBIRATA', 'date...","{'latitude': -13.41111111, 'name': 'MT/A929/NO..."
111,"{'station_name': 'MS/A742/CASSILANDIA', 'date'...","{'latitude': -19.122471, 'name': 'MS/A742/CASS..."